.c-f-projets {
    background-color: #eee;
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    overflow-y: scroll;
    max-height: 450px;
    width: 100%;

    margin: 2px 0 0;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    margin: 76px 0 24px 8px;
    
}

.c-f-projets li:hover {
	background-color: gray;
	color: white;
}