.opacityOff {
    pointer-events: none; 
    opacity: 0.6;
}
/*----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------Size-------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.flexHeight100 {
    height: 100%!important;
}
.c-project-kanban__responsible_size.c-project-kanban__responsible button input {
    width: 274px!important;
    height: 26px!important;
}
.c-project-kanban__responsible_sizeBottom.c-project-kanban__responsible button input {
    width: 578px!important;
    height: 26px!important;
}
/*----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------CSS элементы-------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.b-checkbox-elem_state-1:before {
    border-radius: 2px;
    font-size: large;
    border: 1px solid gray;
    background-color: #e2e2e2;
    position: relative;
    top: -2px;
    left: -1px;
    content: "\0A0\2713\0A0";
    color: green;
}
/*----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------Cursor-------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.cursorPointer {
    cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------Flex-----------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}
.alignItemsCenter {
    align-items: center;
}
/*----------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------Border----------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.border {
    border: 1px solid #cccccc;
}
.borderTop {
    border-top: 1px  solid #cccccc;
}
.borderRight {
    border-right: 1px solid #cccccc;
}
.borderBottom {
    border-bottom: 1px solid #cccccc;
}
.borderBottom:last-child {
    border-bottom: 0px solid #cccccc;
}
.borderBottomImperative {
    border-bottom: 1px solid #cccccc;
}
.borderLeft {
    border-left: 1px solid #cccccc;
}
.borderFlex {
    border: 1px solid #e2e2e2;
}

/*----------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------Позиционирование---------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.textAlignCenter {
    text-align: center;
}
.verticalAlignMiddle{
    vertical-align: middle!important;
}
.positionAbsolute {
    position: absolute;
}
/*----------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------Background-------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.backgroundEE {
    background: #eeeeee!important;
}
/*----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------Color----------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.color9B {
color: #9B9B9B;
}
/*----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------Классы для поиска в DOM----------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.buttonEditCreate{} .search-panel-body{} .table_rowTop{} .row-Parent{} .numberInput{} .dateInput{}
.closeBlockProject{} .modal-panel-body{} .modal-panel-body__row-data{}
/*----------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------Разное---------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------*/
.table-border {
    border: 1px solid gray;
}
.table__row_property {
    text-align: center!important;
}
.c-kanban__column_b-checkbox-task_position {
padding-right: 8px;
padding-left: 24px;
}

.projectEdit__table-td_center {
    vertical-align: middle;
}

.li-active {
    background-color: gray;
    color: white;
}
.margin_bottom0px {
    margin-bottom: 0px!important;
}

.b-input_height32px .l-project-new__type button input {
    height: 22px!important;
}
.height26px {
    height: 26px;
}
.width58px {
    width: 58px;
}
.width160px {
    width: 160px;
}
.width175px {
    width: 175px;
}
.margin-0-8px {
    margin: 0 8px;
}
.scroll {
    overflow-y: scroll;
    height: 400px;
}
.table_tr_property {
    height: 43px;
}



