.b-tree-card {
    border: 1px solid #fed22f;
    border-radius: 3px;
    font-size: 12px;
    margin: 10px;
    overflow-wrap: break-word;
    position: relative;
    background-color: #ffffe0;
    box-shadow: 5px 4px 5px 0 rgba(0,0,0,.5);
    width: 200px;
    cursor: pointer;
}