.b-label-field__l-label_size_width55px {
    width: 55px;
}
.b-label-field__l-label_size_width135px {
    width: 135px;
}
.b-label-field__label_size_width240px {
    font-weight: normal;
    width: 240px;
}
.b-label-field__l-label_size_width56px {
    width: 56px;
}